#each_result {
  background-color: white;
  border: solid 1px white;
  padding: 10px 10px 10px 10px;
  margin: 15px 50px 15px 50px;
  box-shadow: 0 0 20px #212121;
  transition: 1s ;
}

#p_title {
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  color: black;
}

#cancel_btn{
  margin-left: 115px;
}
body {
  background-color: #202833 !important;
}

h1 {
  color: white;
}

.box{
  color: white;
}

#search_text{
  color:white;
}
